.nav_bar {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    padding: 10px;
}

.nav_bar a {
    padding: 10px;
    color: black;
    text-decoration: none;
}

.nav_bar a:hover {
    transition: 0.3s;
    text-decoration: underline;
}
