@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
}
.nav_bar {
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    padding: 10px;
}

.nav_bar a {
    padding: 10px;
    color: black;
    text-decoration: none;
}

.nav_bar a:hover {
    transition: 0.3s;
    text-decoration: underline;
}

.text {
    width: 50%;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    color: white;
}

.graph {
    opacity: 0.5;    
    border-radius: 10px;
    margin-left: 10px;
}

.box {
    display: flex;
    flex-wrap: wrap;
}

.graph_form {
    margin-right: 10px;
}

.form_input {
    background-color: #FFFFFF77;
    border: 1px solid black;
    border-radius: 5px;
}

.form_input:hover {
    transition: 0.3s;
    background-color: #FFFFFFAA;
}

.form_button {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #BBB;
    padding: 2px 8px 2px 8px;
    color: black;
    text-decoration: none;
    font-size: 0.8em;
    cursor: pointer;
}

.form_button:hover {
    transition: 0.3s;
    background-color: #999;
}

.main-svg {
    border-radius: 5px;
    position: static;
    display: block;
}

.js-plotly-plot {
    margin: 5px;
}

